*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

/*
    w: 100%;
    pl: 3%;
    wt: 103%;
*/

header{
    width: 100%;
    height: 7vh;
    padding-left: 3%;
    box-shadow: 0px 7px 10px rgba(0,0,0,.5);
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
}

/*
    first
    secong
    third
    four
    nth
*/
main{
    width: 100%;
    height: 83vh; 
    display: flex;         
    flex-direction: column;            
    align-items: center;
    justify-content: center;    
}

main aside{
    height: 170px;
    width: 100vw;     
    display: flex;  
    align-items: flex-start;
    overflow-x: scroll; 
}

main aside a{
    margin-right: 10px;  
    height: 160px;  
}

main aside figure{
    width: 54vw;    
    height: 100%;
}

<<<<<<< HEAD
header nav h1{
    font-size: 30px;
    overflow-y: 5px;
